/* For information on how to create your own theme, please refer to:
http://ionicframework.com/docs/theming/ */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* --- CẤU HÌNH FONT GLOBAL --- */
:root {
    /* Kích hoạt font cho Ionic */
    --ion-font-family: 'Inter', sans-serif !important;

    /* Kích hoạt font cho PrimeVue 4 (Dùng tiền tố --p-) */
    --p-font-family: 'Inter', sans-serif !important;
}

/* Kế thừa xuống toàn bộ app, tuyệt đối KHÔNG dùng * */
html,
body {
    font-family: var(--ion-font-family);
}

/* Tùy chỉnh màu sắc cho Alert lỗi */
.custom-error-alert {
    --backdrop-opacity: 0.6;
}

/* Đổi màu tiêu đề (Header) */
.custom-error-alert .alert-sub-title {
    color: #eb445a !important;
    /* Màu đỏ của Ionic */
    font-weight: bold !important;
    text-transform: uppercase;
}

/* Đổi màu nội dung (Message) */
.custom-error-alert .alert-message {
    color: #333 !important;
    font-size: 16px !important;
}

/* Tùy chỉnh riêng cho cái tên điểm cần quét (nếu bạn dùng thẻ b ở bước 1) */
.custom-error-alert .highlight-point {
    color: #2fdf75;
    /* Màu xanh lá nổi bật hoặc màu vàng tùy bạn */
    font-size: 1.2em;
    text-decoration: underline;
}

/* --- TÙY CHỈNH PRIMEVUE (Bỏ :deep vì đây là Global CSS) --- */
/* Thu nhỏ ô chọn ngày cho khớp với InputText */
.p-datepicker {
    font-size: 0.8rem;
}

.p-datepicker-input {
    padding: 5px 10px !important;
    font-size: 0.8rem;
}

/* Ép các ô filter sát nhau hơn nữa */
.p-datatable-filter-row td {
    padding: 4px !important;
}

/* --- TÙY CHỈNH IONIC --- */
/* Ghi đè margin mặc định của list MD */
ion-list {
    padding: 0 !important;
}

/* --- TỔNG THỂ --- */
.header-container {
    margin-top: 35px;
}

.no-padding {
    padding: 5px 0 !important;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto;
}

/* 1. TẮT CHỚP XANH MẶC ĐỊNH CỦA IOS/ANDROID (Tap Highlight) */
* {
    -webkit-tap-highlight-color: transparent !important;
}

/* 2. TẮT VIỀN FOCUS (BOX-SHADOW) CỦA PRIMEVUE */
.p-button:focus,
.p-button:focus-visible,
.p-menuitem-link:focus,
.p-menuitem-link:focus-visible,
.p-paginator-page:focus,
.p-paginator-next:focus,
.p-paginator-prev:focus {
    box-shadow: none !important;
    outline: none !important;
}

:root {
    /* 1. Tăng font cho các Component của Ionic (Mặc định thường là 16px) */
    --ion-font-size: 19px !important;
}

/* 2. Tăng gốc rễ của trang web để các component PrimeVue (dùng đơn vị rem) tự động phình to ra theo tỉ lệ chuẩn */
html {
    /* Mặc định trình duyệt là 16px */
    font-size: 20px !important;
}

/* Kế thừa xuống toàn bộ app */
html,
body {
    font-family: var(--ion-font-family);
    font-size: var(--ion-font-size);
}