/* For information on how to create your own theme, please refer to:
http://ionicframework.com/docs/theming/ */
/* Thu nhỏ ô chọn ngày cho khớp với InputText */
:deep(.p-datepicker) {
    font-size: 0.8rem;
}

:deep(.p-datepicker-input) {
    padding: 5px 10px !important;
    font-size: 0.8rem;
}

/* Ép các ô filter sát nhau hơn nữa */
:deep(.p-datatable-filter-row td) {
    padding: 4px !important;
    /* Thu hẹp tối đa khoảng cách */
}

/* Ghi đè margin mặc định của list MD */
ion-list {
    padding: 0 !important;
}


/* --- TỔNG THỂ --- */
.header-container {
    margin-top: 35px;
}

.no-padding {
    padding: 5px 0 !important;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto;
}

/* 1. TẮT CHỚP XANH MẶC ĐỊNH CỦA IOS/ANDROID (Tap Highlight) */
* {
    -webkit-tap-highlight-color: transparent !important;
}

/* 2. TẮT VIỀN FOCUS (BOX-SHADOW) CỦA PRIMEVUE */
:deep(.p-button:focus),
:deep(.p-button:focus-visible),
:deep(.p-menuitem-link:focus),
:deep(.p-menuitem-link:focus-visible),
:deep(.p-paginator-page:focus),
:deep(.p-paginator-next:focus),
:deep(.p-paginator-prev:focus) {
    box-shadow: none !important;
    outline: none !important;
}